.container .jumbotron,
.container-fluid .jumbotron {
    position: relative;
    padding: 30px 15px;
}

.table-container {
    height: 315px;
    overflow-y: scroll;
    position: relative;
}

.header-fixed {
    background-color: #eee;
    left: 15px;
    position: absolute;
    top: 30px;;
    width: calc(100% - 30px);
}

.header-fixed th {
    background-color: #eee;
    padding-bottom: 25px;
    padding-left: 5px;
}

.footer {
    background-color: black;
    color: #eee;
    text-align: center;
}

.footer ul {
    list-style-type: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
  stroke: #777;
  stroke-dasharray: 2,2;
}

.y.axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.gris{
	fill: #BCBCBC;
	stroke: black;
	stroke-width:1;
}

.azul{
	fill: steelblue;
	stroke: black;
	stroke-width:1;
}
