
.container .jumbotron {
    padding: 30px 15px;
    position: relative;
}

.table>tbody>tr>td {
    max-width: 90px;
    vertical-align: middle;
}

.table-container {
    height: 315px;
    overflow-y: scroll;
    position: relative;
    text-align: center;
}

.header-fixed {
    background-color: #eee;
    left: 15px;
    position: absolute;
    top: 30px;
    width: calc(100% - 30px);
}

.header-fixed th {
    background-color: #eee;
    padding: 5px 5px 20px;
    text-align: center;
}

.footer {
    background-color: black;
    color: #eee;
    text-align: center;
}

.chart-container {
    height: 400px;
    overflow: scroll;
    width: 100%;
    max-width: 970px;
}
