.svg {
    min-width: 960px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
    stroke: #777;
}

.x.axis line {
    stroke: #777;
}

.y.axis path {
    display: none;
    stroke: #777;
}

.y.axis line {
    stroke: #777;
}

.bar rect {
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
    stroke: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar rect.espera {
    fill: #BCBCBC;
    stroke: black;
}

.bar rect.ejecucion {
    fill: steelblue;
    stroke: black;
}

.bar rect.restante {
    opacity: .4;
    fill: black;
}

.bar rect.ejecutandose {
    fill: green;
}

.bar rect.bloqueado {
    fill: red;
}
