.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
  stroke: #777;
  stroke-dasharray: 2,2;
}

.x.axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.y.axis path {
  display: none;
  stroke: #777;
  stroke-dasharray: 2,2;
}

.y.axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
  stroke: none;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.espera {
	fill: #BCBCBC;
	stroke: black;
}

.ejecucion {
	fill: steelblue;
	stroke: black;
}

.bloqueado {
    fill: red;
}

.restante {
    opacity: .1;
}

.ejecutandose {
    fill: green;
}

.texto-restante {
    fill: black;
}